{% extends '::index.html.twig' %}
{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ username }}</title>
        <link rel="shortcut icon" href="{{ asset('images/icon.ico') }}">
        <link rel="stylesheet" href="{{ asset('css/user.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/croppie.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('flags/css/flag-icon.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('flags/css/flag-icon.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('select/dist/css/bootstrap-select.css') }}" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ asset('select/dist/js/bootstrap-select.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/croppie.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.js')}}"></script>
	</head>
{% endblock %}
{% block wrapper %}
    <div class="wrapper">
    {% block header %}
        <div class="header">
            <div class="container header-cont">
                <div class="row header-row">
                    <div class="col-sm-3" >
                        <p class="logo pull-left">INSTASAVER</p>
                    </div>
                    <div class="col-sm-6" >
                        <div class="input-group get-url-field">
                            <input type="text" class="form-control get-url-input" placeholder="Search for...">
						 <span class="input-group-btn ">
							<button class="btn btn-default get-url-btn" type="button">
                                <span class="glyphicon glyphicon-download"></span>
                            </button>
						</span>
                        </div>
                    </div>
                    <div class="col-sm-3 nopadding logout-button-col">
                        <button type="button" class="btn btn-default pull-right logout-button">
                            {{ logout }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block content %}
        <div class="content">
            <div class="container content-cont">
                <p>

                </p>
            </div>
        </div>
    {% endblock %}
        {% block footer %}
            <div class="footer">
                <div class="container footer-cont"></div>
            </div>
            {% endblock %}
    </div>
{% endblock %}

{#{% block header%}#}
    {#<div class="header">#}

    {#</div>#}
{#{% endblock %}#}
{#{% block content %}#}
    {#<div class="wrapper">#}

    {#</div>#}


{#{% endblock %}#}

{#{% block footer %}#}
    {#<div class="footer">#}
        {#<h3>FOOTER</h3>#}
    {#</div>#}
{#{% endblock %}#}